{% extends "base.html" %}

{% block body %}

<h1 class="text-center">Do you really want to delete?</h1>
    <div class="container">
        <div class="text-center">
            <h3>Are you sure?</h3>
            <p>You're about to delete <strong>{{ object }}</strong>. <br>Please confirm.</p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);"/>
                <input class="btn btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
    </div>
{% endblock %}
