{% extends "base.html" %}

{% block body %}
    <h1>Make a new listing</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">New Listing</h3>
        </div>
            <div class="panel-body">
                <form class="" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-default" type="submit" name="newlisting" value="New Listing">
                </form>
            </div>
        </div>
{% endblock %}
