{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <h1>
        {% if city %}
            {{ city }} >
        {% else %}
            All Cities >
        {% endif %}
        {% if category %}
            {{ category }}
        {% else %}
            All item's
        {% endif %}
    </h1>
    {% if user.is_authenticated %}
    {% if category %}
    <a class="btn btn-success"href="{% url 'listing_create_view' category.pk %}">Add New Listing</a>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Login to post a listing.</a>
    {% endif %}
    <br>
    <br>

    {% if not search %}
    <div class="btn-group pull-left" role="group">
        <a href="{% url 'city_category_list_view' city_id category_id %}?sort=-created"  class="btn btn-default">Sort: Date</a>
        <a href="{% url 'city_category_list_view' city_id category_id %}?sort=price"  class="btn btn-default">Sort: Price Low/High</a>
        <a href="{% url 'city_category_list_view' city_id category_id %}?sort=-price"  class="btn btn-default">Sort: Price High/Low</a>
    </div>
    {% endif %}

    {# Yeah, I think isn't quite the ideal way to impliment this, lots of repetition #}
    <div class="btn-group pull-right" role="group">
        <a href="#" id="listb" class="btn btn-default">List</a>
        <a href="#" id="gridb" class="btn btn-default">Grid</a>
        <a href="#" id="thumbb" class="btn btn-default">Thumbnails</a>
    </div>
    {# start content #}
    <br>
    <br>
    {# list #}
    <div class="row" id="list">
        {% for item in object_list %}
        <div class="item listing-list">
            <p><small>&#9734;</small>
                <span class="time">{{ item.created|date:"N d" }} </span>
                <a href="{% url 'listing_detail_view' item.pk %}">{{ item.title }} </a>
                <span class="price">${{ item.price }}</span>
                <small>({{ item.listing_city }}) </small>
                {% if item.photo %}
                <span class="pic">pic</span>
                {% endif %}
            </p>
        </div>
        {% empty %}
            <h4>Sorry, no items in this list.</h4>
        {% endfor %}
    </div>
    <br>
    {# grid #}
    <div class="row" id="grid">
    {% for item in object_list %}
    <div class="item col-md-4">
        <div class="thumbnail">
            <img src="{{ item.photo_url }}">
            <div class="caption">
                <p><small>&#9734;</small>
                    <span class="time">{{ item.created|date:"N d" }} </span>
                    <a href="{% url 'listing_detail_view' item.pk %}">{{ item.title }} </a>
                    <span class="price">${{ item.price }}</span>
                    <small>({{ item.listing_city }}) </small>
            </div>
        </div>
    </div>
    {% empty %}
        <h4>Sorry, no items in this list.</h4>
    {% endfor %}
    </div>
    {# thumbnail #}
    <div id="thumb">
    {% for item in object_list %}
    <div class="panel panel-default">
        <div class="row">
            <div class="panel-body thumb-parent">
                <div class="col-md-3">
                    <img class="tumbnail" src="{{ item.photo_url }}">
                </div>
                <div class="col-md-9 thumb-text">
                    <p><small>&#9734;</small>
                        <span class="time">{{ item.created|date:"N d" }} </span>
                        <a href="{% url 'listing_detail_view' item.pk %}">{{ item.title }} </a>
                        <span class="price">${{ item.price }}</span>
                        <small>({{ item.listing_city }}) </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <h4>Sorry, no items in this list.</h4>
    {% endfor %}
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'cl_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cl_app/js/main.js' %}"></script>
{% endblock %}
